<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<!--  
	<localRepository>/Users/zhongwen/.m2/repository</localRepository>
	-->
	<pluginGroups>
	</pluginGroups>
	<proxies>
	</proxies>
	<servers>
	</servers>
	<mirrors>
		<mirror>
			<id>aliyun</id>
			<name>aliyun maven repository</name>
			<url>http://maven.aliyun.com/nexus/content/groups/public/</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
	</mirrors>
	<profiles>
		<profile>
			<id>primeton-repositories</id>
			<repositories>
				<repository>
					<id>primeton-public-repository</id>
					<url>http://192.168.2.1:8081/nexus/content/groups/primeton_public_repositories/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>primeton-3rd-repository</id>
					<url>http://192.168.2.1:8081/nexus/content/repositories/primeton_3rd/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>Primeton_Product_Stage</id>
					<url>http://192.168.2.1:8081/nexus/content/repositories/Primeton_Product_Stage/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>primeton-public-maven-plugin-repository</id>
					<url>http://192.168.2.1:8081/nexus/content/groups/primeton_public_maven_repositories/</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>primeton-repositories</activeProfile>
	</activeProfiles>
</settings>
